<p-dataTable [value]="pessoas" [paginator]="true" [rows]="3" [responsive]="true" >
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Status</th>
        <th [ngClass]="{'col-acoes':true}"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pessoa>

      <tr>
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.cidade}}</td>
          <td>{{pessoa.estado}}</td>
          <td>
            <a  href="#" [pTooltip]="pessoa.ativo ? 'Deasativar' : 'Ativar'" tooltipPosition="top">
              <span style="color: black">{{pessoa.ativo ? 'Ativo':'Inativo' }}</span>
            </a>
          </td>
          <td >
            <div>
              <a pButton icon="fa fa-pencil" style="margin-right: 5px" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </div>
          </td>
        </tr>
    </ng-template>
</p-dataTable>
